body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;  /* Prevent resizing */
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.A { color: red; }
.T { color: blue; }
.C { color: green; }
.G { color: orange; }
 
.alignment-output pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap; /* Keeps alignment intact */
    border: 1px solid #ccc;
  }
  